  <div class="container col-md-5 border mt-5">
    <h3>Add Employee:</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control"
         [(ngModel)]="employee.firstName" name="firstName" id="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="employee.lastName" name="lastName" id="lastName" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="employee.email" name="email" id="email" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3 ">Add</button>
    </form>
</div>

